PORT==*******
NODE_ENV==*******

DB_HOST=*******
DB_PORT==*******
DB_NAME==*******
DB_USERNAME==*******
DB_PASSWORD==*******

SALT_ROUNDS==*******

JWT_SECRET==*******
JWT_EXPIRES_IN==*******

SERVER_URL==*******
CLIENT_URL==*******

8432691061   858120  : Login data

6375230154   253863  : Login data

8104377541   824022  : Login data
9865323265   161066  : Login data